.prayer-home {
  background-color: #212529;
  margin: 20px;
  img {
    width: 100%;
    border-radius: 10px;
  }
  .prayer-time {
    background-color: #9aca43;
    border: 1px solid #212529;
    border-radius: 20px;
    margin: 10px;
    .form-select {
      width: 250px;
      text-align: center;
    }
    .the-time {
      flex-direction: row-reverse;
      gap: 10px;
      color: #fff;
      .unit {
        border: 1px solid #212529;
        border-radius: 6px;
        text-align: center;
        width: 100px;
        span {
          display: block;
          font-size: 30px;
          font-weight: bold;
        }
      }
    }
  }
}
@media (min-width: 991.98px) {
  .prayer-home {
    width: 67%;
    float: left;
  }
}